COMPOSE_PROJECT_NAME=post

# --- Nginx ---
NGINX_PORT=8081

# --- MySQL ---
DB_HOST=db
DB_PORT=3306
DB_DATABASE=post
DB_USERNAME=post
DB_PASSWORD=post_secret
DB_ROOT_PASSWORD=root_secret
# Порт БД на хосте (для DBeaver / TablePlus и т.п.)
DB_EXPOSE_PORT=3307